* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

p {
    color: rgb(61, 61, 61);
}

body {
    background-image: url(/assets/upscaled.png);
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #007E53;
}

button {
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    color: rgb(102, 255, 64);
    background-color: #303030;
}

button:active {
    color: greenyellow;
}

#clock-container {
    display: flex;
    justify-content: center;
}

#congrats-container {
    display: none;
    margin-top: 10%;
}

#clock {
    height: 100%;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    color: whitesmoke;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-radius: 100%;
    border: 2px rgb(0, 164, 185) solid;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#sector-1 {
    border-bottom: 1px rgb(0, 164, 185) solid;
    border-right: 1px rgb(0, 164, 185) solid;
}

#sector-2 {
    border-bottom: 1px rgb(0, 164, 185) solid;
}

#sector-3 {
    border-right: 1px rgb(0, 164, 185) solid;
}

#answer {
    display: flex;
    justify-content: center;
    height: 1rem;
    margin-bottom: 0.5rem;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

#buttons button {
    height: 50px;
    margin: 0 30px
}

#hour-buttons {
    display: grid;
    grid-template-columns: repeat(6, auto);
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
}

#hour-buttons button {
    background-color: #04aa9c;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-radius: 100%;
    width: 40px;
}

.clock {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    background-color: rgb(0, 164, 185);
    position: absolute;
    left: 47.5%;
    top: 47.5%;
    z-index: 3;
}

.round-hour {
    height: 2%;
    width: 96%;
    position: absolute;
    top: 49%;
    left: 2%;
    text-align: center;
}

.round-hour button {
    height: 30px;
    width: 30px;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 100%;
    margin-top: -12.5px;
    font-size: 1em;
}

.hour-1,
.hour-7 {
    transform: rotate(120deg);
}

.hour-2,
.hour-8 {
    transform: rotate(150deg);
}

.hour-4,
.hour-10 {
    transform: rotate(30deg);
}

.hour-5,
.hour-11 {
    transform: rotate(60deg);
}

.hour-6,
.hour-12 {
    transform: rotate(90deg);
}

#number-1 {
    float: left;
    transform: rotate(-120deg);
}

#number-2 {
    float: left;
    transform: rotate(-150deg);
}

#number-3 {
    float: right;
}

#number-4 {
    float: right;
    transform: rotate(-30deg);
}

#number-5 {
    float: right;
    transform: rotate(-60deg);
}

#number-6 {
    float: right;
    transform: rotate(-90deg);
}

#number-7 {
    float: right;
    transform: rotate(-120deg);
}

#number-8 {
    float: right;
    transform: rotate(-150deg);
}

#number-9 {
    float: left;
}

#number-10 {
    float: left;
    transform: rotate(-30deg);
}

#number-11 {
    float: left;
    transform: rotate(-60deg);
}

#number-12 {
    float: left;
    transform: rotate(-90deg);
}

.pointer {
    position: absolute;
    width: 50%;
    right: 50%;
    height: 3%;
    top: 50%;
    background: green;
    border-radius: 100%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hour-pointer {
    width: 30%;
    height: 5%;
    color: darkolivegreen;
    z-index: 1;
}

#minute-pointer {
    width: 38%;
    height: 3%;
    z-index: 2;
}

.hour-pointer-txt {
    font-size: 0.5em;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: bolder;
    float: right;
    rotate: 180deg;
}

#minute-pointer-txt {
    font-size: 0.5em;
    color: white;
    rotate: 180deg;
    float: right;
}